<body>

<div style="text-align:center">
  <h1>
    Welcome to !
  </h1>
  <div>
  <img width="450" alt="logo" src="../assets/DESAFIO.jpg">
</div>

  <div class="btn-groups">
  <div>
      <a routerLink="/users" class="btn btn-primary btn-lg"  data-bs-toggle="button">Ver lista de clientes</a>
    
      <a routerLink="/users/create" class="btn btn-primary active btn-lg" data-bs-toggle="button">Criar um novo
        cliente</a>
      </div> 
   
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>

</body>